body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Cabecera */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 30px; /* Agregado espacio en los laterales */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el logo y el nombre */
}

.logo {
    width: 40px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 5px 15px;
    gap: 10px; /* Espacio entre la barra de búsqueda y la lupa */
}

.search-container input {
    border: none;
    background: transparent;
    padding: 5px;
    font-size: 16px;
    width: 250px; /* Ajustado el tamaño de la barra de búsqueda */
}

.lupa {
    width: 20px;
    cursor: pointer;
}

.access-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.access-button:hover {
    background-color: #45a049;
}

/* Estilo del Formulario */
.container {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.form-section {
    width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.remember-me input {
    margin-right: 10px;
}

/* Estilo de la Imagen */
.img-container {
    width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-display {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}
